#map-menu {
    display: inline-block;
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    right: 300px;
}
body {
    /*font: 400 12px/16px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;*/
    overflow: hidden;
    font: 400 11px/15px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.navbar-offset {
    margin-top: 50px;
}

#map {
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
    #map .ol-zoom {
        font-size: 1.2em;
    }

.mini-submenu {
    display: none;
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    padding: 9px;
    /*position: relative;*/
    width: 42px;
    text-align: center;
}

.mini-submenu-left {
    position: absolute;
    top: 60px;
    left: .5em;
    z-index: 40;
}

.mini-submenu-right {
    position: absolute;
    top: 60px;
    right: .5em;
    z-index: 40;
}

#map {
    z-index: 35;
}

.sidebar {
    z-index: 45;
}

.main-row {
    position: relative;
    top: 0;
}

.mini-submenu:hover {
    cursor: pointer;
}

.slide-submenu {
    background: rgba(0, 0, 0, 0.45);
    display: inline-block;
    padding: 0 8px;
    border-radius: 4px;
    cursor: pointer;
}



/*attributes for listing claims*/

.listings {
    /*overflow: auto;*/
    padding-bottom: 60px;
    height: 86vh;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

    .listings .item {
        display: block;
        border-bottom: 1px solid #eee;
        padding: 7px;
        text-decoration: none;
    }

        .listings .item:last-child {
            border-bottom: none;
        }

        .listings .item .title {
            display: block;
            color: #00853e;
            font-weight: 700;
        }

            .listings .item .title small {
                font-weight: 400;
            }

            .listings .item.active .title,
            .listings .item .title:hover {
                color: #8cc63f;
            }

        .listings .item.active {
            background-color: #f8f8f8;
        }

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
}

.clearfix {
    display: block;
}

    .clearfix::after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }


